@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
  }
  
    /* Navigation styling for desktop screens */
nav{
    text-transform: capitalize;
    background-color: black;
    width: 100%;
    height: 50px;
    border-width: 100%;
    
  
}

ul{
    width: 90%;
    margin: auto; 
    color: white;
    justify-content: space-around;
    display:flex;
    list-style: none;
    padding: 10px;
    padding-top: 10px;
   
   
}
.mobile-view{
    display: none;
}
.home{
    justify-content: space-evenly;
    display:flex;
    width: 40%;
    margin: auto;
    padding-right: 90px;
    
}

.book{
   
    padding-left: 50px;
    margin-top: 10px;
}

.gerich{
    width: 20%;
    margin: auto;
    text-align: justify;
    margin-left: 5px;
}
.login{
    margin-top: 10px;
}

.meal-search{
    display: none;
}
/* Navbar styling for desktop screens end*/


/* hero-section styling for desktop screens start*/
.hero-section{
    justify-content: space-evenly;
    display:flex;
    width: 100%;
    height: 80vh;
    background-color: black;
    color: white;
    text-align: center;


}


.hero-text{
    width: 60%;
    margin: auto 10px;
    text-transform: capitalize;
    text-align: center;
}

.bar{
    /* line-height: 50px; */
    padding-top: 160px;
    font-size: 40px;
    width: 32.000003814697266;
   margin-left: 50px;
   
}
.bar-img{
    width: 43.000000000000036;
height: 32.00000000000003;
rotate:  90 deg;


}
  
.scroll{
     width: 25%;
     margin: auto 70px;
    font-family: Cormorant Upright;
    color:  rgb(230, 230, 151) !important;
   margin-top: 23em;
   
   

}

.scroll p{
    margin-top: 60px;
    font-size: 10px;
}
.scroll hr{
   
    width:90%;
 
    margin: auto;
rotate: 90deg;
border-width: 1px solid   rgb(230, 230, 151) ;

}



.gerich-img{
    width: 78.00000000000007;
    height: 32.00000000000003;
    rotate: 90 deg;
    margin-top:  40px;
    /* margin-left: 13px; */
   
    

}

h4 img{
    width: 7%;
    margin: auto;
    margin-right: 200px;
}

.key{
    color: rgb(230, 230, 151);
    font-size: 25px;
    width: 78%;
    margin: auto ;
    line-height: 45px;
    margin-left: -17px;
    font-family: Cormorant Upright;
    

}

.active{
    width: 88%;
    margin: auto 17px;
    /* margin-right:  6px; */
    line-height: 25px;
}
button{
    width: 30%;
    /* margin: auto px; */
   background-color: rgb(230, 230, 151);
   color: black;
    text-transform: capitalize;
    padding: 10px;
    border: none;
    margin-top: 30px;
    margin-right:110px;
}

.shift{
    margin-left: 15px;
    
}

.hero-img{
 width: 85%;
 
margin: auto; 
 margin-top: 110px;
    

}
img{
    width: 80%;
    margin: auto; 

}
/* hero-section styling for desktop screens end*/
 

/* feartures-section styling for desktop screens start*/
.features-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%; 
        color: white;
        position: relative; 
    
}


.subsection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    padding-top: 160px;
     
    background-image: url(../assets/img/G\ \(1\).png);
    background-size: 20%; /* adjust this value */
    background-position: center; /* optional */
    background-repeat: no-repeat;
    margin: auto;
  }
  

.about-us{
    width: 30%;
    margin: auto;
}

.history{
    width: 30%;
    margin: auto;
}

   .knive-img {
    position: absolute;
    top: 90px; 
    left: 0; 
    width: 10%;
    margin: auto;
    text-align: center;
    margin-left: 610px;
  }
  img{
    width: 40%;
    margin: auto;
  }

  .about-us img{
    width: 10%;
    margin-left: 210px;
    rotate: 181deg;
    
    
  }
  .history img{
    width: 10%;
    margin-right: 200px;
    
  }
  /* feartures-section styling for desktop screens end*/

  /* service-section styling for desktop screens start*/
.service-section{
text-transform: capitalize;
justify-content: space-evenly;
    display:flex;
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 20px;
    overflow:hidden;
 

   
}

.service-section h3{
    color: rgb(230, 230, 151);
    
}
.service-section span{
    color: white;
}

span img{
    width: 20%;
    margin: auto;
}
.menu{

    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

.wine{
    width: 20%;
    margin: auto;
    text-transform: capitalize;
    
    line-height: 40px;
   
    

    
}

.wine p{
    font-size: 10px;
    font-size: bold;
   
}

.cocktail{
    width: 20%;
    margin: auto;
    text-transform: capitalize;
    line-height: 40px;
  
   
    position: relative;

}

  
  .cocktail button {
    position: absolute;
    bottom: 0;
    right: 80%;
    margin-top: 90px ;
    transform: translateX(-50%);
    width: 30%;
    
  }
  

.cocktail p{
    font-size: 10px;
    font-size: bold;
   
}

.drink{
    
    position: absolute;
    top: 130px; 
    left: 0; 
    width: 45%;
    margin: auto;
    text-align: center;
    margin-left: 385px;
}   

.drink img{
    text-align: center;
   
}
/* feartures-section styling for desktop screens end*/

/* chef-section styling for desktop screens start*/
.chef-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
     color: white;
     display: flex;
     justify-content: space-evenly;
     
  
}

.chef-img{
    width: 40%;
    margin: auto;
}
.chef-img img{
    width: 75%;
    margin: auto;
}

.chef-text{
    width: 40%;
    margin: auto;
    font-size: 14px;
    padding-top: 40px;
}
/* chef-section styling for desktop screens end*/


/* testimonials-section styling for desktop screens start*/
.testimonials-section{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/BG\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; 
   color: white;
   display: flex;
    justify-content: space-evenly;
    
  
}



.testimonials-text{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  line-height: 20px;
  text-wrap: wrap;
 text-transform: capitalize;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px; 
   margin-right: 100px;
   padding-top: 200px;
 
}

  
  

.testimonials-text img{

  width: 60%;
  margin: auto;
}


.testimonials-img{
  width: 55%;
  margin: auto ;
  
}

.testimonials-img img{
  width: 65%;
  margin: auto;
  padding-top: 40px;
}
/* testimonials-section styling for desktop screens end*/

/* call-to-action-section styling for desktop screens start*/
.call-to-action-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
     color: white;
     display: flex;
     justify-content: space-evenly;

}

.call-to-action-photo{
    width: 40%;
     margin: auto; 
     margin-left: 110px;
     text-transform: capitalize;
     padding-bottom: 40px;

}

.call-to-action-photo p{
   
    width: 88%;
    margin: auto 3px;
   
    line-height: 25px;
       
    
}

.call-to-action-img{
    width: 30%; 
    margin: auto;
     display: flex;
    justify-content: space-evenly;
    margin-right: 280px;
    gap: 13px; 
      
}
/* call-to-action-section styling for desktop screens end*/


/* footer-section styling for desktop screens start*/
.footer{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
     color: white;
     display: flex;
     justify-content: space-evenly;
     text-transform: capitalize;

}

.footer-text{
    width: 40%;
    margin: auto;
    margin-left: 90px;

}

.footer-img{
    width: 50%;
    margin: auto;


}

.footer-img img{
    width: 60%;
    
}
/* footer-section styling for desktop screens end*/

/* newsletter-section styling for desktop screens start*/
.newsletter-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
     color: white;
     text-transform: capitalize;

}

.socials img{
    width: 8%;
    margin: auto 18px;
    filter: invert(100%);
    margin-top: 10px;
    
     
}


.newsletter-subscription{

        width: 40%;
       height: 50vh;
        margin: auto;
        
        box-shadow: 0px 0px 10px rgb(230, 230, 151);
        text-align: center;
        background-color: black;
        line-height: 55px;
}


input{
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 30px;
}

.newsletter-working-time{
    width: 80%;
    margin: auto;
    display: flex;
     justify-content: space-evenly;
     margin-top: 70px;
     text-transform: capitalize;

 
}
.newsletter-working-time p{
    margin-top: 20px;
}
/* newsletter-section styling for desktop screens end*/

 .Rights{
    text-align: center;
     margin-right: 50px;
     margin-top: 50px;
     
    }

.close-img{
    display: none;
}


@media only screen and (max-width: 768px) {


    body {
        overflow-x: hidden;
      }
      
      *{
        box-sizing: border-box;
      }

    .background{
        overflow: hidden;
        font-size: 10px;
    }
      /* Navigation styling for smaller screens */
nav {
    background-color: black;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 100; */
  }


    
     ul{
        width:25%;
        margin: auto; 
        color: white;
        display:flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;
        padding-top: 10px;
        font-size: 7px;
        margin-right: 65px; 
        line-height: 15px;
        /* text-align:left; */

     
       
    }
    .mobile-view{
        flex-direction: column;
        display:flex;
        text-transform: capitalize;
    
       
    }
    .home{
        display: none;
    }
    
    .book{
       
     display: none;

    }
    
    .gerich{
        width: 30%;
        margin: auto;
        position: absolute;
       top: 10px;
       left: 10px;
    }
    .login{
        display: none;
    }
  
  /* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-color: black;
    color: white;
    margin-top: 50px;
  }
  
  .hero-text {
    width: 80%;
    margin: auto;
    line-height: 3px;
    /* padding-bottom: 10px; */
    text-align: justify;
    margin-top: 20px;
  }
  

   
    


.bar{
    display: none;
}
.key{
    color: rgb(230, 230, 151);
    font-size: 10px;
    font-weight: bold;
    margin-left: -13px;
    line-height: 1.5;
    font-family: Cormorant Upright;
    

  
    
   
}

.key br{
    display: none;
}

h4 img{
    width: 5%;
    margin: auto 3px;
    margin-top: 7px;
    margin-right: 138px;
    
}

.hero-text .active{
    width: 77%;
    margin: auto -10px;
    line-height: 1.4;
    margin-top: 10px;
    font-size: 7px;
    
   
}

.button-btn{
    width: 100%;
   
    margin: 10px;
}
 .hero-text button{
     width: 20%; 
    margin: auto -18px;
   background-color: rgb(230, 230, 151);
   color: black;
    text-transform: capitalize;
    font-size: 8px;
    border: none; 
    padding: 3px;
    /* margin-right: 210px; */
  
   
}

.scroll{
    display: none;
}

.hero-img{
 width: 60%;
    margin: auto 15px; 
    text-align: center;


    

}
img{
    width: 55%;
    margin: auto 30px; 
    margin-bottom: 40em;

}
.hero-img p{
    display: none;
}

.meal-search{
    display: block;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.menu-btn{
    width: 50%;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 3px;
    display: block;
   
}

/* .search{
    display: flex;
    flex-direction: column;
     width: 30%;
    margin: auto;
    flex-wrap: wrap;
    
}
.search button{
    width: 70%;
    margin: auto;
    background-color: rgb(230, 230, 151);
    color: black; */

    /* display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;  

}
/* Features section adjustments */
/* .features-section {
    background-image: url(./img/BG\ \(1\).png);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly;
    justify-content: center;
    padding: 10px;
  } */
  
  /* Subsection in Features section */
  /* .subsection {
    justify-content: space-evenly;
    display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    text-align: center;
    background-image: url(./img/G\ \(1\).png);
    background-size: 50%;
    height: 70vh;
    margin-top: 10px;
  } */
/* Features section adjustments */
.features-section {
    background-image: url(./img/BG\ \(1\).png);
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

/* Subsection in Features section */
.subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(./img/G\ \(1\).png);
    background-size: 30%;
    height: 70vh;
    margin-top: 10px;
}

/* .about-us, .history {
    width: 80%;
    margin: 10px auto;
} */



   .about-us{
    width: 100%;
    margin:  auto ;
    padding-right: 160px;
    margin-bottom: 60px;
    font-size: 5px;
    /* line-height: 4px; */
    .features-section {
    
        position: relative; 
      }
      
      .knive-img {
        position: absolute;
        /* top: 90px;  */
        left: 0; 
        width: 10%;
        margin: auto;
        text-align: center;
        /* margin-left: 610px; */
      }
      img{
        width: 40%;
        margin: auto;
      }
    
      .about-us img{
        width: 10%;
        margin-left: 210px;
        rotate: 181deg;
        
        
      }
      .history img{
        width: 10%;
        margin-right: 200px;
        
      }
      
    
    .service-section{
    text-transform: capitalize;
    justify-content: space-evenly;
        display:flex;
        width: 100%;
        margin: auto;
        height: 100vh;
        background-color: black;
        color: white;
        text-align: center;
        position: relative;
        padding-top: 20px;
        overflow:hidden;
        
        /* clear: both; */
    
       
    }

} 
.about-us p{
    width: 100%;
    padding-right: 100px;
    margin-bottom: 250px;
}

.history{
    width: 80%;
    margin:10px auto ;
} 

  /* .about-us,
.history {
  width: 80%;
  margin: 10px auto; */
  /* padding-right: 50px; */
  /* /text-align: center; */
/* } */

  
  
} 
  
}