@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
  }
  
    /* Navigation styling for desktop screens */
nav{
    text-transform: capitalize;
    background-color: black;
    width: 100%;
    height: 50px;
    border-width: 100%;
    
  
}

ul{
    width: 90%;
    margin: auto; 
    color: white;
    justify-content: space-around;
    display:flex;
    list-style: none;
    padding: 10px;
    padding-top: 10px;
    cursor: pointer;
   
   
}
.mobile-view{
    display: none;
}
.home{
    justify-content: space-evenly;
    display:flex;
    width: 40%;
    margin: auto;
    padding-right: 90px;
    
}

.book{
   
    padding-left: 50px;
    margin-top: 10px;
}

.gerich{
    width: 20%;
    margin: auto;
    text-align: justify;
    margin-left: 5px;
}
.login{
    margin-top: 10px;
}


/* Navbar styling for desktop screens end*/


/* hero-section styling for desktop screens start*/
.hero-section{
    justify-content: space-evenly;
    display:flex;
    width: 100%;
    height: 80vh;
    background-color: black;
    color: white;
    text-align: center;
}




.hero-text{
     
    margin-top: 60px;
    text-transform: capitalize;
    text-align: center;
    padding-left: 60px;  
    width: 460;
    height: 481;
    gap: 32px;
    
   


}

.bar{

 width: 32.000003814697266;
height: 161;
top: 400px;
left: 120px;
margin-left: 50px;
font-size: 10rem;
margin-top: 40px;
   
}
.bar-img{
width: 73.000000000000036;
height: 32.00000000000003;
rotate:  90 deg;




}

.gerich-img{
    width: 78.00000000000007;
    height: 32.00000000000003;
    rotate: 90 deg;
    margin-bottom:  140px;
    font-family: Open Sans;


    
}
  
.scroll{
width: 25%;
margin: auto 70px;
font-family: Cormorant Upright;
color: #DCCA87 !important;
margin-top: 23em;
   
   

}

.scroll p{
 margin-top: 60px;
 font-size: 10px;
}
.scroll hr{
width:90%;
margin: auto;
rotate: 90deg;
border-width: 1px solid   #DCCA87; 
  

}
h4 img{
    width: 7%;
    margin: auto;
    margin-right: 185px;
}







.key{
font-family: Cormorant Upright;
font-weight: 700;
font-size: 33px;
line-height: 200%;
letter-spacing: 20%;
text-transform: capitalize;
 color:#DCCA87;;
 padding-right: 70px;  
    
 
    

}

.hr{
    margin-left: 40px
}

.hero-section .active{   
    
width: 453;
height: 84;
font-family: Open Sans;
font-weight: 400;
font-size: 15px;
line-height: 180%;
/* letter-spacing: 40%; */




    
}
 .hero-section button{
    border: none;
    margin-top: 30px;
    margin-right:115px; 
    width: 150; 
    height: 40;
    padding-top: 5px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    background-color:#DCCA87;;
    color: black;
    text-transform: capitalize;
    cursor: pointer;

    
}
button:hover{
    background-color: rgba(236, 236, 20, 0.904);
}
   


.shift{
    margin-left: 15px;
    
}

.hero-img{
margin-top: 40px; 
 width: 800;
height: 550;
  
}

/* hero-section styling for desktop screens end*/
 

/* feartures-section styling for desktop screens start*/
.features-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%;  */
    color: white;
    position: relative; 
    
}


.subsection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    padding-top: 160px;
     
    background-image: url(../assets/img/G\ \(1\).png);
    background-size: 20%; /* adjust this value */
    background-position: center; /* optional */
    background-repeat: no-repeat;
    margin: auto;
  }
  

.about-us{
    width: 30%;
    margin: auto;
    text-align: right
    
}
.about-us h2{

    color: #DCCA87;
 margin-left: 160px;
 width: 325;
height: 83;
font-family: Cormorant Upright;
font-weight: 600;
font-size: 50px;
line-height: 130%;
letter-spacing: 3%;
text-transform: capitalize;


}
.about-us button{
    margin-left: 300px
}
.about-us p{
    text-align: right;
     margin-left: 80px
}
.history{
    width: 30%;
    margin: auto;
  
 
}

.history-h2{
 text-transform: capitalize;
 color: #DCCA87;

height: 83;
font-family: Cormorant Upright;
font-weight: 600;
font-size: 50px;
line-height: 130%;
letter-spacing: 3%;
text-transform: capitalize;


}

   .knive-img {
    position: absolute;
    top: 83px; 
    left: 0; 
    width: 10%;
    margin: auto;
    text-align: center;
    margin-left: 610px;
    /* height: 600; */
    
  }

  .features-section button{
    background-color:#DCCA87;
    color: black;
    text-transform: capitalize;
    border: none;
    margin-top: 20px;
    padding: 10px;
    width: 200; 
    height: 40;
    cursor: pointer;

 }

  button:hover{
    background-color: rgba(236, 236, 20, 0.904);
}

.features-section .active{   

    width: 523;
height: 84;
font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 4%;

    
    
    
    
        
    }
  img{
    width: 40%;
    margin: auto;
  }

  .about-us img{
    width: 10%;
    margin-left: 210px;
    rotate: 181deg;
    
    
  }
  .history img{
    width: 10%;
    margin-right: 200px;
    
  }
  /* feartures-section styling for desktop screens end*/

  /* service-section styling for desktop screens start*/
.service-section{
text-transform: capitalize;
justify-content: space-evenly;
    display:flex;
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 20px;
    overflow:hidden;
 

   
}
.menu h3{
    width: 25%;
     margin: auto;
}
.menu img{
width: 2%;
 margin: auto;
 padding-bottom: 25px
}

.service-section h3{
    color: #DCCA87;
    
}
.service-section span{
    color: white;
}

span img{
    width: 20%;
    margin: auto;
}
.menu{

    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
}

.wine{
    width: 20%;
    margin: auto;
    text-transform: capitalize;
    
    line-height: 40px;
   
    

    
}

.wine p{
    font-size: 10px;
    font-size: bold;
   
}

.cocktail{
    width: 20%;
    margin: auto;
    text-transform: capitalize;
    line-height: 40px;
  
   
    position: relative;

}

.cocktail-btn{
    width: 100%;
     margin: auto;
      padding-top: 80px
}

  
  .cocktail button {
    position: absolute;
    bottom: 0;
    right: 80%;
    margin-top: 90px ;
    transform: translateX(-50%);
    width: 50%;
    cursor: pointer;

    
  }
  

.cocktail p{
    font-size: 10px;
    font-size: bold;
   
}

.drink{
    
    position: absolute;
    top: 130px; 
    left: 0; 
    width: 45%;
    margin: auto;
    text-align: center;
    margin-left: 385px;
}   

.drink img{
    text-align: center;
   
}

.service-section button{
    background-color:#DCCA87;
    color: black;
    text-transform: capitalize;
    border: none;
    margin-right: 100px;
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    cursor: pointer;


 }

  button:hover{
    background-color: rgba(236, 236, 20, 0.904);
}

/* service-section styling for desktop screens end*/

/* chef-section styling for desktop screens start*/
.chef-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
     color: white;
     display: flex;
     justify-content: space-evenly;
     
  
}

.chef-img{
    width: 40%;
    margin: auto;
}
.chef-img img{
    width: 75%;
    margin: auto 170px;
}

.chef-text{
    width: 40%;
    margin: auto;
    font-size: 14px;
    padding-top: 40px;
    line-height: 30px;
    
}
.word{
    text-transform: capitalize;
     padding-top: 40px
}

.believe{
    text-transform: capitalize; 
    /* color: rgb(230, 230, 151); */
    color: #DCCA87;

    font-family: Cormorant Upright;
font-weight: 600;
font-size: 50px;
line-height: 130%;
letter-spacing: 3%;
text-transform: capitalize;

}
.chef-text div{
    margin-top: 60px
}

.chef-kelvin-1{
    width: 235;
height: 83;
font-family: Bestermind;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 4%;
text-transform: capitalize;
color: #DCCA87;

}

.chef-kelvin-2{
    margin-top: 50px;
}
/* chef-section styling for desktop screens end*/


/* testimonials-section styling for desktop screens start*/
.testimonials-section{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/BG\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100%;  */
   color: white;
   display: flex;
    justify-content: space-evenly;
    
  
}
.testimonials-text{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  line-height: 20px;
  text-wrap: wrap;
 text-transform: capitalize;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px; 
   margin-right: 100px;
   padding-top: 210px;
 
}

.text-1{
    color: #DCCA87;
    width: 143px;
     height: 30;
}


 .text-2{
    color: #DCCA87;
     width: 143px;
      height: 30
 } 

 .text-3{
    color: #DCCA87;
 }


 .text-4{
    color: #DCCA87;
    width: 200px;
     height: 30
 }

 .testimonials-text p{
    
    margin-top: 15px;

}
 

.testimonials-text img{

  width: 60%;
  margin: auto;
}


.testimonials-img{
  width: 55%;
  margin: auto ;
  
}

.testimonials-img img{
  width: 70%;
  margin: auto;
  padding-top: 40px;
}

.testimonials-section .active{   
    
    width: 453;
    height: 84;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
}
/* testimonials-section styling for desktop screens end*/

/* call-to-action-section styling for desktop screens start*/
.call-to-action-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%;  */
     color: white;
     display: flex;
     justify-content: space-evenly;

}

.call-to-action-photo{
    width: 40%;
     margin: auto; 
     margin-left: 110px;
     text-transform: capitalize;
     padding-bottom: 40px;

}

.call-to-action-photo p{
   
    width: 88%;
    margin: auto 3px;
   
    line-height: 25px;
       
    
}

.call-to-action-img{
    width: 30%; 
    margin: auto;
     display: flex;
    justify-content: space-evenly;
    margin-right: 280px;
    gap: 13px; 
      
}
.call-to-action p{ 
width: 491;
height: 56;    
font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 4%;

    
   
}
.call-to-action-section button{
background-color:#DCCA87;;
color: black;
text-transform: capitalize;
border: none;
width: 80px;
height: 28;
font-family: Cormorant Upright;
font-weight: 700;
font-size: 16px;
line-height: 175%;
letter-spacing: 4%;
margin-top: 20px;
cursor: pointer;


 }
 .gallery{
width: 367;
height: 83;
color: #DCCA87;
margin-bottom: 10px;
font-family: Cormorant Upright;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 3%;
text-align: center;
text-transform: capitalize;
margin-right: 150px;


 }

  button:hover{
    background-color: rgba(236, 236, 20, 0.904);
}



/* call-to-action-section styling for desktop screens end*/


/* footer-section styling for desktop screens start*/
.footer{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%;  */
     color: white;
     display: flex;
     justify-content: space-evenly;
     text-transform: capitalize;

}

.footer-text{
    width: 40%;
    margin: auto;
    margin-left: 90px;

}

.footer-img{
    width: 50%;
    margin: auto;


}

.footer-img img{
    width: 60%;
    
}
.footer p{ 
    width: 491;
   height: 56;
   font-family: Open Sans;
   font-weight: 400;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: 4%;
   margin-top: 20px;
       
      
   }
   .footer button{
   background-color: #DCCA87;
   color: black;
   text-transform: capitalize;
   border: none;
   width: 80px;
   height: 28;
   font-family: Cormorant Upright;
   font-weight: 700;
   font-size: 16px;
   line-height: 175%;
   letter-spacing: 4%;
   margin-top: 20px;
   cursor: pointer;

   
    }
   
     button:hover{
       background-color: rgba(236, 236, 20, 0.904);
   }
   
/* footer-section styling for desktop screens end*/

/* newsletter-section styling for desktop screens start*/
.newsletter-section{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/BG\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%;  */
     color: white;
     text-transform: capitalize;

}

.socials img{
    width: 8%;
    margin: auto 18px;
    filter: invert(100%);
    margin-top: 10px;
    
     
}

.news{
    width: 80;
height: 30;
padding-top:20px;

    font-family: Cormorant Upright;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 4%;
text-transform: capitalize;


}

.newsletter-subscription{

        width: 60%;
       height: 50vh;
        margin: auto ;
        box-shadow: 0px 0px 1px rgb(230, 230, 151);
        text-align: center;
        background-color: black;
        line-height:40px;
    }

   

.subscribe{
 width: 776;
height: 83;
color: #DCCA87;
font-family: Cormorant Upright;
font-weight: 600;
font-size: 50px;
line-height: 130%;
letter-spacing: 3%;
text-align: center;
text-transform: capitalize;

}

    

.latest{
font-size: 10px;
 width: 250;
height: 28;

font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 4%;
text-align: center;
margin: 20px;

}

.newsletter-section button{
    width: 1870;
height: 930;
Font:Cormorant Upright;

top: 7532px;
left: 22px;
border-width: 1px;
background-color: #DCCA87;
color: black;
text-transform: capitalize;
border: none;
cursor: pointer;



}


button:hover{
background-color: rgba(236, 236, 20, 0.904);
}

input{
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    /* margin-bottom: 70px; */
}

.newsletter-working-time{
 width: 80%;
 margin: auto;
 display: flex;
 justify-content: space-evenly;
 margin-top: 70px;
 text-transform: capitalize;
 font-family: Cormorant Upright;
 font-family: Cormorant Upright;
font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: 4%;
text-transform: capitalize;


 
}

.newsletter-gerich{
    width: 45%;
     margin: auto
}
.newsletter-working-time p{
    margin-top: 20px;
   
}


/* newsletter-section styling for desktop screens end*/

 .Rights{
 text-align: center;
 margin-right: 50px;
 margin-top: 50px;
 font-family: Open Sans;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 4%;
text-align: center;

 }
 .working-hours{
font-family: Cormorant Upright;
font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: 4%;
text-transform: capitalize;

    }

.close-img{
    display: none;
}


@media only screen and (max-width: 768px) {


    body {
        overflow-x: hidden;
      }
      
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }



    .background{
        overflow: hidden;
        font-size: 10px;
    }
      /* Navigation styling for smaller screens */
/* .nav {
    background-color: black;
    width: 100%;
    height: 50px;
    position:fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    border: none;
  }

   ul{
        width:25%;
        margin: auto; 
        color: white;
        display:flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;
        padding-top: 10px;
        font-size: 7px;
        margin-right: 65px; 
        line-height: 15px;
        overflow: hidden;
       
       
     
       
    } 
      .mobile-view {
        text-transform: capitalize;
        position: fixed;
        z-index: 1;
        display: block;
        
      }  
    
    */
   
    
    .mobile-view {
        text-transform: capitalize;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
         margin-left: 280px; 
         margin-bottom: 30px;
        
        
      }
      .sidebar {
        background-color: black;
        width: 100%;
        height: 100vh;
        padding: 20px;
        
      }
      
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
      }
      
      .overlay.show {
        display: block;
      } 
     
      
    
      
      
    .sidebar ul{
        width:25%;
        margin: auto; 
        color: white;
        display:flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;

        font-size: 7px;
       line-height: 15px;
       
       } 


      .menu-icon img {
        width: 30px;
        height: auto;
        cursor: pointer;
        z-index: 3;
        display: block; 
    
    
      }
      
      .close-icon img{
        width: 30px;
     
        top: 20px;
        right: 20px;
       
     }
     .sidebar ul li a{
        color: white;
        text-decoration: none;
        font-size: 7px;

    }
    .sidebar ul li {
        display: block;
        /* padding: 10px; */
        margin: 0;
        margin-left: -20px;
      }
      
   
   .hidden{
    display: none;
   }
      
      
     
      
      
    .home{
        display: none;
    }
    
    .book{
       
     display: none;

    }
    
    .gerich{
        width: 30%;
        margin: auto;
        position: fixed;
       top: 10px;
       left: 10px;
    }
    .login{
        display: none;
    }
  
  /* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    background-color: black;
    color: white;
    overflow: hidden;
    
     

  }
  
  .hero-text {
    width: 100%;
    margin: auto;
    line-height: 3px;

    text-align: center;
    margin-top: 100px;
  }
  
  .scroll p{
    display: none;
   }
   .scroll hr{
  display: none;
     
   
   }
   .bar{
    display: none;
}

.key{
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 23px;
    line-height: 200%;
    letter-spacing: 20%;
    text-transform: capitalize;
     color: rgb(230, 230, 151);
     padding-right: 70px;  
     margin-top: 10px;
        
     
        
    
    }
    
    .hero-section .active{   
        
    width: 453;
    height: 84;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 180%;
    margin-right: 30px;
    /* letter-spacing: 40%; */
    
    
    
    
        
    }
   
    button:hover{
        background-color: rgba(236, 236, 20, 0.904);
    }
       
    
    
   
    




.key br{
    display: none;
}

h4 img{
    width: 5%;
    margin: auto 3px;
    margin-top: 7px;
    margin-right: 40px;
    
}


.button-btn{
    width: 100%;
   
    margin: 10px;
}
 .hero-text button{
     width: 20%; 
    margin: auto;
   background-color: rgb(230, 230, 151);
   color: black;
    text-transform: capitalize;
    font-size: 8px;
    border: none; 
    padding: 3px;
    margin-right: 45px;
  
   
}

.scroll{
    display: none;
}

.hr{
    display: none;
}

.hero-img{
 width: 100%;
 height: 70;
    margin: auto 15px; 
    text-align: center;


    

}
img{
    width: 60%;
    margin: auto 30px; 
    margin-bottom: 5em;
    

}
.hero-img p{
    display: none;
}




 /* Features section adjustments */
.features-section {
    background-image: url(../assets/img/BG\ \(1\).png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative; 
}

 /* Subsection in Features section  */
 .subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../assets/img/G\ \(1\).png);
    background-size: 40%;
    height: 70vh;
    margin-bottom: 20px;
} 

 
   .about-us{
    width: 100%;
    margin:  auto  ;
     
      text-align: center;  
    
 } 
 

 .about-us .p{   

    width: 100%;
    height: 44;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 175%;
    letter-spacing: 4%;
    padding-right: 20px;
    text-align: center;
    margin-top: 10px;  
    margin-left: 10px;
 }

 .about-us button{
    width: 30%;
    margin: auto;
    padding: 4px;
    font-size: 5px;
    margin-left: 140px;
    margin-top: 10px;
 }
 .about-us h2{
    text-align: center;
    width: 10% !important; 
    margin: auto;
    font-size: 20px;
    position: relative;
    
    
    


 }
 .about-us img{
  
display: none;

    
  }

  .history{
    width: 50%;
    margin:  auto  ;
    text-align: center;  
    padding-bottom: 125px;
     

  }
 
  .history .p{
    width: 100%;
    height: 44;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 175%;
    letter-spacing: 4%;
   
    text-align: center;
    
    margin-top: 10px;
    


}
  .history img{
    width: 10%;
    margin-left: 80px;
    
  }

  .history button{
    width: 30%;
    margin: auto;
    padding: 4px;
    font-size: 5px;
    margin-top: 10px;

  }

  
 .knive-img {
  
    display: none;
    
  }    
     
      img{
        width: 40%;
        margin: auto;
      }
    
     
    
      
    
    .service-section{
    text-transform: capitalize;
    flex-direction: column;
        display:flex;
        width: 100%;
        margin: auto;
        height: 110vh;
        background-color: black;
        color: white;
        text-align: center;
        position: relative;
        padding-top: 20px;
        overflow:hidden;
        
        /* clear: both; */
    
       
    }
    .service-section h3{
        color: rgb(230, 230, 151);
        
    }
    .service-section span{
        color: white;
    }
    
    span img{
        width: 20%;
        margin: auto;
    }
    .menu{
    
        position: absolute;
        /* top: 25px; */
        width: 100%;
        font-size: 7px;
    
        text-align: center;
    }

    .menu img{
        width: 4%;
         margin: auto;
         padding-bottom: 25px
        }

        .menu h3{
            font-size: 7px;
        
        
        }
    
    .wine{
        width: 60%;
        margin: auto;
        text-transform: capitalize;
        font-size: 7px;
        line-height: 40px;
       
        
    
        
    }

    .wine h2{
    width: 30%;
    font-size: 7px;
        margin: auto;
        margin-bottom: 5px
    }
    
    .wine p{
        font-size: 5px;
        font-size: bold;
        line-height: 7px;
       
    }
    
    .cocktail{
        width: 65%;
        margin: auto;
        text-transform: capitalize;
        line-height: 45px;
      font-size: 7px;
       margin-top: 250px;
        position: relative;
    
    }
    
    .cocktail-btn{ 
         width: 20%; 
          margin: auto; 
           /* padding-top: 80px  */
     }
    
      
      .cocktail button {
        position: absolute;
        bottom: 0;
        margin-right: 60px;
        /* margin-top: 90px ; */
        /* transform: translateX(-50%); */
        width: 50%;
        /* margin-left: 50px; */
        
      } 


      .cocktail h2{
        font-size: 7px;
        line-height: 7px;
      }
    
    .cocktail p{
        font-size: 5px;
        font-size: bold;
        line-height: 7px;
       
    }
    
    .drink{
        
        position: absolute;
        top: 380px; 
        left: 0; 
        width: 70%;
        margin: auto;
        /* margin-top: 255px; */
        text-align: center;
        margin-left: 60px;
        /* margin-left: 385px; */
    }   
    
    .drink img{
        text-align: center;
       
    }
    
    .service-section button{
        background-color: rgb(230, 230, 151);
        color: black;
        text-transform: capitalize;
        border: none;
        margin-right: 100px;
        font-family: Cormorant Upright;
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 4%;
    
     }
    
     

    .chef-section{
        width: 100%;
        height: 80vh;
        background-image: url(../assets/img/BG\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    
     }
      
       
    
    .chef-img{
        width: 50%;
        margin: auto;
        margin-top: 450px;
        position: absolute;
        text-align: center;
    
      
    }
    .chef-img img{
        width: 90%;
        margin: auto;
       margin-left: 110px;
       
    
        /* margin: auto 170px; */
    }
    
    .chef-text{
        width: 50%;
        margin: auto;
        font-size: 10px;
        padding-bottom: 400px;
        line-height: 30px;
        font-size: 10px;
        
        
    }
    .word{
        text-transform: capitalize;
         padding-top: 10px
    }

    .chef-text div{
        margin-top: 30px;
        /* font-size: 7px; */
        
    }


    .testimonials-section{
        width: 100%;
        height: 80vh;
        background-image: url(../assets/img/BG\ \(2\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         color: white;
         display: flex;
         flex-direction: column;
          text-align: center;
          
        
      }
      
      
      
      .testimonials-text{
        width: 40%;
        margin: auto ;
        display: flex;
       flex-direction: column;
        line-height: 20px;
        text-wrap: wrap;
       text-transform: capitalize;
         /* display: grid; */
         grid-template-columns: repeat(1, 1fr);
         gap: 30px; 
         margin-left: 130px;
         position: absolute;
         margin-bottom: 550px;
         
       
      }
      
      
         
      .text-1{
        color: rgb(230, 230, 151); 
        width: 143px;
         height: 30;
         margin-bottom: 15px;
         
     }

    
     .text-2{
        color: rgb(230, 230, 151);
         width: 143px;
          height: 30;
          margin-bottom: 15px;
     } 
    
     .text-3{
        color: rgb(230, 230, 151);
        margin-bottom: 15px;
     }
    
    
     .text-4{
        color: rgb(230, 230, 151); 
        width: 200px;
         height: 30;
         margin-bottom: 15px;
         
     } 
    
      .testimonials-text img{
      
        width: 10%;
        margin: auto 10px;
        padding-top: 40px;
        position: fixed;
      }
      
      
      .testimonials-img{
        width: 70%;
        margin: auto 10px;
        margin-left: 55px;
     
        
      }
      
      .testimonials-img img{
        width: 70%;
        margin: auto;
        padding-top: 40px;
        height: 40;
        margin-top: 20px;
    
      }
      
      .testimonials-section .active{   
          
          width: 453;
          height: 84;
          font-family: Open Sans;
          font-weight: 400;
          font-size: 15px;
          line-height: 180%;
      }
    
    
      .call-to-action-section{
        width: 100%;
        height: 190vh;
        background-image: url(../assets/img/BG\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         color: white;
         display: flex;
        flex-direction: column;
    }
    
    .call-to-action-photo{
        width: 100%;
         margin: auto 5px; 
         /* margin-left: 160px; */
         text-transform: capitalize;
         padding-bottom: 140px;
         text-align: center;
         font-size: 10px;

    
    }
    
    .call-to-action-photo p{
       
        width: 55%;
        margin: auto 90px;
       text-align: center;
        line-height: 25px;
           
        
    }
    .call-to-action-photo h4{
        margin-top: 20px;
    }
    
    .call-to-action-img{
        width: 70%; 
        margin: auto;
         display: flex;
        flex-direction: column;
        margin-right: 50px;
        gap: 1px; 
        line-height: 1px;       
    }
    .call-to-action-img img{
        width: 60%;
        margin: auto ;
        padding-bottom: 80px;
     
    }

    .call-to-action p{ 
    width: 491;
    height: 56;    
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
 
    
        
       
    }
    .call-to-action-section button{
    background-color: rgb(230, 230, 151);
    color: black;
    text-transform: capitalize;
    border: none;
    width: 80px;
    height: 28;
    font-family: Cormorant Upright;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 4%;
    margin-top: 20px;
    
     }
     .gallery{
    width: 200;
    height: 50;
    color: rgb(230, 230, 151);
    margin-bottom: 10px;
    font-family: Cormorant Upright;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    text-transform: capitalize;
    margin-right: 10px;


    
    
     }
    
      button:hover{
        background-color: rgba(236, 236, 20, 0.904);
    }
    
    
    
    /* call-to-action-section styling for desktop screens end*/
    
    
    /* footer-section styling for desktop screens start*/
    .footer{
        width: 100%;
        height: 70vh;
        background-image: url(../assets/img/BG\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         color: white;
         display: flex;
        flex-direction: column;
         text-transform: capitalize;
         text-align: center;
    
    }
    
    .footer-text{
        width: 50%;
        margin: auto;
        /* margin-left: 90px; */
        font-size: 10px;
        padding-bottom: 30px;
    
    }
    .contact{
      font-size: 15px;
        
    }
    .footer-img{
        width: 50%;
        margin: auto;
    
    
    }
    
    .footer-img img{
        width: 90%;
        height: 40;
        margin: auto;
        margin-bottom: 40px;
        
    }
    .footer p{ 
        width: 491;
       height: 56;
       font-family: Open Sans;
       font-weight: 400;
       font-size: 10px;
       line-height: 175%;
       letter-spacing: 4%;
       margin-top: 20px;
           
          
       }
       .footer button{
       background-color: rgb(230, 230, 151);
       color: black;
       text-transform: capitalize;
       border: none;
       width: 80px;
       height: 28;
       font-family: Cormorant Upright;
       font-weight: 700;
       font-size: 16px;
       line-height: 175%;
       letter-spacing: 4%;
       margin-top: 20px;
       
        }
       
         button:hover{
           background-color: rgba(236, 236, 20, 0.904);
       }
       
    /* footer-section styling for desktop screens end*/
    
    /* newsletter-section styling for desktop screens start*/
    .newsletter-section{
        width: 100%;
        height: 120vh;
        background-image: url(../assets/img/BG\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
         color: white;
         text-transform: capitalize;
    
    }
    
    .socials img{
        width: 8%;
        margin: auto 18px;
        filter: invert(100%);
        margin-top: 10px;
        
         
    }
    
    
    
    .newsletter-subscription{
    
            width: 65%;
           height: 17vh;
            margin: auto;
         box-shadow: 0px 0px 5px rgb(230, 230, 151);
            text-align: center;
            /* background-color: black; */
            line-height:20px;
            font-size: 8px;
    }

    .latest{
        font-size: 6px;
    }
    
    .newsletter-section button{
        width: 1870;
    height: 930;
    top: 7532px;
    left: 22px;
    border-width: 1px;
    background-color: rgb(230, 230, 151);
    color: black;
    text-transform: capitalize;
    border: none;
    font-size: 7px;
    
    
    }
    
    
    input{
        width: 50%;
        margin: auto;
        padding: 4px;
        background-color: transparent;
        border: 0.1px solid  rgb(230, 230, 151);
        /* margin-bottom: 70px; */
        margin-top: 10px;
    }
    
    .newsletter-working-time{
        width: 60%;
        margin: auto;
        display: flex;
       flex-direction: column;
         margin-top: 30px;
         text-transform: capitalize;
         text-align: center;
         font-size: 7px;
         line-height: 5px;
    
     
    }
    .newsletter-gerich{
     margin-top: 10px;
     
    }

   .working-hours{
  margin-top: 25px;
    }
    .newsletter-working-time p{
        margin-top: 20px;
    }
    /* newsletter-section styling for desktop screens end*/
    
     .Rights{
        text-align: center;
         margin-left: 60px;
         margin-top: 40px;
         
        }
  
    
    
}